<!DOCTYPE html>
<html>
<head>
	<title>MyExperiment</title>
	<link rel="stylesheet" href="/css/custom.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
		<div class="container">
			<a href="" id="logo">MyExperiment</a>
		</div>
		</div>
	</header>
	<bdoy>
<div class="panel panel-default">
	<div class="panel-heading"><h1>Contact</h1></div>
		
	<table class="table">
		<th>Role</th>
		<th>Names</th>
		<th>Contact Info</div>
		
		<tr>
			<td>Project Leader</td>
			<td>Musa Ahmed</td>
			<td>mahme012@fiu.edu</td>
		</tr>
		<tr>
			<td>Project Assistant</td>
			<td>Renan Santana</td>
			<td>rsant143@fiu.edu</td>
		</tr>
	</table>
</div>
<footer class="footer col-md-12">
	    <small>
		<a href="http://www.primessf.net">Modeling & Networking Systems Research Group</a>
	    </small>
	    <nav>
		<ul>
		    <li><small><a href="/about">About</a></small></li>
		    <li><small><a href="/contact">Contact</a></small></li>
		</ul>
	    </nav>
	</footer>
</body>
</html>